img {
    width: 100px;  /* or any size you want */
    height: 100px; /* or any size you want */
    object-fit: cover; /* this will ensure that the aspect ratio of the image is maintained */
}
.news-box {
 position: relative;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  transition: transform 0.3s;
  top: 100px;
}

.news-box:hover {
  transform: scale(1.1);
}

.news-box img {
  width: 100%;
  height: auto;
}

.news-box h2 {
  margin-top: 10px;
}
body {
    background-color: #fafafa;
}
